NODE_ENV=development
PORT=3000
CLIENT_ORIGIN=https://skribbl.io
SUPABASE_URL=https://kryznzijjlqkixdxqkft.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_6SOSKRreA8lHr-7aRZsq6w_361QcD9J
MATCHMAKING_SIMULATED_PLAYERS=true
